$color-bg: #ffffff;
$main-color-night: #54494B;
$main-color-light: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background-color: $color-bg;
}

body {
    overflow: hidden;
}

@media (min-width: 1551px) {
    .container {
        margin: 25px calc(50% - 700px) 0;
    }
}

@media (min-width: 1300px) and (max-width: 1550px) {
    .container {
        margin: 25px calc(50% - 600px) 0;
    }
}

@media (min-width: 1100px) and (max-width: 1299px) {
    .container {
        margin: 25px calc(50% - 500px) 0;
    }
}

@media (min-width: 900px) and (max-width: 1099px) {
    .container {
        margin: 25px calc(50% - 400px) 0;
    }
}

@media (max-width: 799px) {
    .container {
        margin: 25px calc(50% - 200px) 0;
    }
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}